



<header class="sticky left-0 top-0 h-[50px] flex items-center justify-between w-full px-8 md:px-12 xl:px-16 bg-[var(--surface-ground)] backdrop-blur-md z-10">
    <img src="/assets/icons/arrow-left-02.svg" alt="Grid Icon" class="w-5 h-5"  />
    <div class="flex items-center gap-4">
        <img src="/assets/icons/sun.svg" alt="Grid Icon" class="w-5 h-5"  />
        <p-avatar 
            icon="pi pi-user" 
            styleClass="mr-2" 
            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
            shape="circle" 
        />
    </div>
</header>