


<div class="p-8 border border-[var(--surface-border)] bg-[var(--surface-card)] rounded-md">
    <div class="flex justify-between mb-3">
        <p-iconField iconPosition="left" class="">
            <p-inputIcon>
                <i class="pi pi-search"></i>
            </p-inputIcon>
            <input 
                pInputText 
                type="text" 
                placeholder="Search keyword"
                styleClass="bg-none!" 
            />
                <!-- (input)="dt1.filterGlobal($event.target.value , 'contains')"  -->
        </p-iconField>
        <p-button label="Create" [routerLink]="['/purchase-order/create-edit', 0]" />
        <!-- (click)="dialogStore.openDialog()" -->
    </div>
    <p-table 
        #dt1
        [value]="purchaseOrder()" 
        [tableStyle]="{ 'min-width': '' }"
        [paginator]="purchaseOrder().length > 10"
        [rows]="10"
        [rowsPerPageOptions]="[10, 15, 20]"
        styleClass="p-datatable-sm"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>PO #</th>
                <th>PO Date</th>
                <th>PR #</th>
                <th>Delivery Date</th>
                <th>Total Quantity</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>
                    <span class="font-semibold">
                        {{ item.purchase_order_number }}
                    </span>
                </td>
                <td>{{ item.purchase_order_date | date }}</td>
                <td>{{ item.purchase_requisition_number || '-' }}</td>
                <td>{{ (item.delivery_date | date) || '-' }}</td>
                <td> 
                    {{ (item.total_delivered || 0) | number }}
                    /
                   {{ (item.total_quantity || 0) | number }}
                </td>
                <td>
                    <div class="flex items-center gap-2.5">
                        <div class="w-[100px]">
                            <p-progressBar  
                                [style]="{ height: '6px' }"
                                [value]="numberService.getPercentage(item.total_delivered, item.total_quantity)"
                                [showValue]="false"
                            />
                        </div>
                        <h4>{{ numberService.getPercentage(item.total_delivered, item.total_quantity) }}%</h4>
                    </div>
                </td>
                <td>
                    <span 
                        class="bg-yellow-500/5 text-yellow-500 text-xs font-medium capitalize px-3 py-0.5 rounded-md"
                        *ngIf="!item.status"
                    >
                        Pending
                    </span>
                    <span 
                        class="bg-blue-500/5 text-blue-500 text-xs font-medium capitalize px-3 py-0.5 rounded-md"
                        *ngIf="item.status"
                    >
                        Approved
                    </span>
                </td>
                <td>{{ item.created_at | date: 'medium' }}</td>
                <td>
                     <p-button 
                        (click)="openMenu($event, item)"
                        icon="pi pi-ellipsis-h"
                        severity="secondary"
                        [text]="true"
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-menu #menu [model]="menus" [popup]="true" />
