



<button class="flex items-center gap-2 mb-3 animate__animated animate__fadeIn animate__faster" (click)="goBack()">
    <img src="/assets/icons/arrow-left-01.svg" class="w-5" />
    <span>back</span>
</button>

<app-loading-spinner 
    *ngIf="isLoading"
/>

<div 
    class="bg-[var(--surface-card)] py-8 px-5 rounded-md border border-[var(--surface-border)] animate__animated animate__fadeIn animate__faster" 
    *ngIf="!isLoading && purchaseOrder"
>
    <div class="max-w-5xl mx-auto">

        <div class="flex items-center justify-between">
            <div class="space-y-1">
                <div class="flex gap-3 items-center">
                    <h1 class="text-2xl font-bold">
                        {{ purchaseOrder.purchase_order_number || '-' }}
                    </h1>
                    <span 
                        class="text-xs font-semibold text-yellow-400 bg-yellow-400/10 px-3 py-0.5 rounded-md"
                        *ngIf="purchaseOrder.status === 0"
                    >
                        Pending
                    </span>
                    <span 
                        class="text-xs font-semibold text-teal-400 bg-teal-400/10 px-3 py-0.5 rounded-md"
                        *ngIf="purchaseOrder.status === 1"
                    >
                        Aprroved
                    </span>
                </div>
                <p class="opacity-60">
                    {{ purchaseOrder.purchase_order_date | date }}
                </p>
            </div>

            <div class="flex gap-3">
                <p-button 
                    icon="pi pi-print"
                    label="Print" 
                    [outlined]="true"
                    severity="secondary" 
                />
                <p-button 
                    icon="pi pi-pencil"
                    label="Edit" 
                    [routerLink]="'/purchase-order/create-edit/' + purchaseOrder.purchase_order_id"
                    *ngIf="purchaseOrder.status === 0"
                />
            </div>
        </div>

        <div class="py-4">
            <p-divider type="dashed" />
        </div>

        <div>
            <h1 class="font-medium opacity-60">Item Details</h1>
            <p-table [value]="purchaseOrder.purchase_order_item" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Item</th>
                        <th>Employee</th>
                        <th>Ordered Qty</th>
                        <th>Price</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <div class="flex items-center gap-3">
                                <div class="w-12 h-12">
                                    <img 
                                        [src]="imageBaseUrl + item.image_name" 
                                        alt="image"
                                        class="h-full w-full object-cover rounded-md"
                                    >
                                </div>
                                <div>
                                    <h1 class="font-semibold">{{ item.item_name }}</h1>
                                    <div class="space-x-2">
                                        <span class="text-xs opacity-60">{{ item.brand_name }}</span>
                                        <span class="text-xs opacity-60">•</span>
                                        <span class="text-xs opacity-60">{{ item.category_name }}</span>
                                         <span class="text-xs opacity-60">•</span>
                                        <span class="text-xs opacity-60">{{ item.item_type_name }}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ item.employee_name }}</td>
                        <td>  {{ (item.delivered_quantity || 0) | number }}/{{ ((item.ordered_quantity || 0) | number) + ' ' + item.uom_name }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="py-6">
            <p-divider type="dashed" />
        </div>

        <div class="space-y-4">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <h1 class="opacity-60">PR #</h1>
                <span>{{ purchaseOrder.purchase_requisition_number || '-' }}</span>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2">
                <h1 class="opacity-60">Delivery Date</h1>
                <span>{{ purchaseOrder.delivery_date | date }}</span>
            </div>
        </div>


    </div>
</div>