<p-button 
    icon="pi pi-filter" 
    [outlined]="true" 
    severity="secondary" 
    (onClick)="sidebarVisible = true"
    styleClass="!bg-[var(--surface-ground)]"
/>


<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">Filters</span>
    </ng-template>
    
    <div>
        <h1 class="capitalize mb-4 font-medium">Brand</h1>

        <div class="grid grid-cols-2 gap-2">
            <div 
                *ngFor="let item of visibleBrands" 
                class="w-full border border-[var(--surface-border)] rounded-md py-2 px-4 cursor-pointer"
              
                [ngClass]="{'text-[var(--primary-color)] border-[var(--primary-color)]': isBrandSelected(item.brand_id)}"
                (click)="selectBrand(item.brand_id)"
            >
                <span class="font-medium block opacity-60 truncate capitalize">
                    {{ item.brand_name }}
                </span>
            </div>
        </div>

        <button
            *ngIf="brandStore.brand().length > visibleBrandCount"
            (click)="toggleShowMore()"
            class="flex items-center justify-center gap-3 mt-3 w-full text-center font-medium !text-xs opacity-80"
        >
            {{ showAllBrands ? 'Show less' : 'Show more' }}
            <i class="pi pi-angle-down" *ngIf="!showAllBrands"></i>
            <i class="pi pi-angle-up" *ngIf="showAllBrands"></i>
        </button>

    </div>

    <div class="my-6">
        <p-divider />
    </div>


    <ng-template pTemplate="footer">
        <p-button label="Reset Filter" styleClass="w-full" (click)="resetFilters()" severity="secondary" />
        <!-- <p-button label="Apply Filter" styleClass="w-full" (click)="applyFilter()" /> -->
    </ng-template>

</p-sidebar>