/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind-utilities;
        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* @font-face {
  font-family: 'DM Sans';
  src: url('assets/fonts/dm-sans/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */


* {
    @apply font-dm-sans
}

body, th, td {
    @apply text-sm 
}

button, input, .p-submenu-header, .p-menuitem, .p-dropdown-label, .p-dropdown-item {
    @apply text-sm
}

aside a.active {
    @apply bg-teal-500/10 text-[var(--primary-color)]
}

.p-toast .p-toast-message .p-toast-message-content { 
    border: 0; 
}

.p-dialog-header-icon {
    @apply hidden
}