


<div class="mb-8 ">
    <button class="flex items-center gap-2" (click)="goBack()">
        <i class="pi pi-arrow-left text-xs "></i>
        back
    </button>
</div>


<div class="bg-[var(--surface-card)] py-8 px-5 rounded-md border border-[var(--surface-border)]" >

    <div class="max-w-5xl mx-auto">
        <h1 class="text-xl font-medium mb-4">Incoming Form</h1>
        <span class="opacity-60">Fields with * are required.</span>

        <form [formGroup]="incomingForm" class="p-fluid space-y-6 mt-6">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <fieldset class="space-y-1.5">
                    <label>
                        <span class="opacity-60 font-medium">PO #</span>
                        <span class="text-red-400">&nbsp; *</span>
                    </label>
                    <div>
                        <p-dropdown 
                            formControlName="purchase_order_id" 
                            [options]="purchaseOrderStore.purchaseOrder()"
                            optionLabel="purchase_order_number"
                            optionValue="purchase_order_id"
                            placeholder="Select a Order" 
                            appendTo="body"
                            [filter]="true"
                            [autofocusFilter]="false"
                            [showClear]="true"
                            [loading]="isPurchaseOrderLoading"
                            (onChange)="onSelectPurchaseOrder($event.value)"
                        />
                    </div>
                    <div class="text-sm text-red-400" *ngIf="incomingForm.get('purchase_order_id')?.hasError('min') && submitted">
                        This field is required.
                    </div>
                </fieldset>

                <fieldset class="space-y-1.5">
                    <label>
                        <span class="opacity-60 font-medium">Incoming Date</span>
                        <span class="text-red-400">&nbsp; *</span>
                    </label>
                    <div>
                        <p-calendar 
                            appendTo="body" 
                            formControlName="incoming_date" 
                        />
                    </div>
                    <div class="text-sm text-red-400" *ngIf="incomingForm.get('incoming_date')?.invalid && submitted">
                        This field is required.
                    </div>
                </fieldset>

                <!-- <pre>
                    {{ selectedIncomingRow | json }}
                </pre> -->

            </div>

            <fieldset class="space-y-4">
                    <h1 class="opacity-60 font-medium mb-4">Item Detail</h1>
                    <p-table
                        [value]="incomingItems.controls"
                        responsiveLayout="scroll"
                        *ngIf="incomingItems.length > 0"
                    >

                        <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <span class="opacity-60">Item</span>
                                <span class="text-red-400">&nbsp; *</span>
                            </th>
                            <th>
                                <span class="opacity-60">Ordered Qty</span>
                                <span class="text-red-400">&nbsp; *</span>
                            </th>
                            <th>
                                <span class="opacity-60">Received Qty</span>
                                <span class="text-red-400">&nbsp; *</span>
                            </th>
                            <!-- <th>
                                <span class="opacity-60">Employee</span>
                                <span class="text-red-400">&nbsp; *</span>
                            </th>
                            <th>
                                <span class="opacity-60">Ordered Qty</span>
                                <span class="text-red-400">&nbsp; *</span>
                            </th>
                            <th>
                                <span class="opacity-60">Price</span>
                                <span class="text-red-400">&nbsp; *</span>
                            </th> -->
                            <th class="opacity-60">Action</th>
                        </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row let-i="rowIndex">
                        <tr [formGroup]="row">

                            <td>
                                <!-- <div>
                                    <p-dropdown 
                                        formControlName="item_id" 
                                        [options]="itemStore.item()"
                                        optionLabel="item_name"
                                        optionValue="item_id"
                                        placeholder="Select a Item" 
                                        appendTo="body"
                                        [filter]="true"
                                        [autofocusFilter]="false"
                                    />
                                </div> -->
                                <!-- {{ row.value.item_name }} -->
                                <!-- <small
                                    class="text-red-400"
                                    *ngIf="
                                        row.get('item_id')?.hasError('required') &&
                                        submitted
                                    "
                                >
                                    This field is required.
                                </small> -->
                                <div class="flex items-center gap-3">
                                    <div class="h-[50px] w-[50px]">
                                        <img 
                                            [src]="imageBaseUrl + row.value.image_name" 
                                            alt="image"
                                            class="w-full h-full object-cover rounded-md"
                                        >
                                    </div>
                                    <div>
                                        <h1>{{ row.value.item_name || '-' }}</h1>
                                        <div class="space-x-1.5 opacity-60">
                                            <span>{{ row.value.brand_name || '-' }}</span>
                                            <span>•</span>
                                            <span>{{ row.value.category_name || '-' }}</span>
                                            <span>•</span>
                                            <span>{{ row.value.item_type_name || '-' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                {{ row.value.ordered_quantity }}
                            </td>

                            <td>
                                <p-inputNumber
                                    formControlName="received_quantity"
                                    [min]="0"
                                    suffix=" {{ row.value.uom_name }}"
                                ></p-inputNumber>
                                <small
                                    class="text-red-400"
                                    *ngIf="
                                        row.get('received_quantity')?.hasError('min') &&
                                        submitted
                                    "
                                >
                                    Must be greater than 0.
                                </small>
                            </td>

                            <!-- <td>
                                <div>
                                    <p-dropdown 
                                        formControlName="employee_id" 
                                        [options]="employeeStore.employee()"
                                        optionLabel="employee_name"
                                        optionValue="employee_id"
                                        placeholder="Select a Employee" 
                                        appendTo="body"
                                        [filter]="true"
                                        [autofocusFilter]="false"
                                    />
                                </div>
                                <small
                                    class="text-red-400"
                                    *ngIf="
                                        row.get('employee_id')?.hasError('required') &&
                                        submitted
                                    "
                                >
                                    This field is required.
                                </small>
                            </td>

                            <td>
                                <p-inputNumber
                                    formControlName="ordered_quantity"
                                    [min]="1"
                                ></p-inputNumber>
                                <small
                                    class="text-red-400"
                                    *ngIf="
                                        row.get('ordered_quantity')?.hasError('min') &&
                                        submitted
                                    "
                                >
                                    Must be greater than 0.
                                </small>
                            </td>

                            <td>
                                <p-inputNumber
                                    formControlName="price"
                                    [min]="0"
                                    mode="currency"
                                    currency="PHP"
                                ></p-inputNumber>
                                <small
                                    class="text-red-400"
                                    *ngIf="
                                        row.get('price')?.hasError('min') &&
                                        submitted
                                    "
                                >
                                    Must be greater than 0.
                                </small>
                            </td> -->

                            <td>
                        
                                <p-button 
                                    icon="pi pi-times"
                                    [text]="true"
                                    severity="danger"
                                    (click)="removeRow(i)"
                                />
                            </td>

                        </tr>
                        </ng-template>

                    </p-table>


                    <div class="flex items-center justify-end">
                        <!-- <p-button 
                            icon="pi pi-plus"
                            [text]="true"
                            severity="success"
                            (click)="addRow()"
                        /> -->
                        <div *ngIf="totalQuantity">
                            <span>Total Quantity: </span>
                            <span> &nbsp; {{ (totalQuantity || 0) | number  }}</span>
                        </div>
                    </div>

                    <div
                        class="grid place-items-center my-5" 
                        *ngIf="incomingItems.length == 0"
                    >

                        <div class="h-[200px] w-[200px]">
                            <img 
                                src="/assets/icons/empty-pana.svg" 
                                class="w-full h-full object-cover" 
                            />
                        </div>

                        <p class="opacity-60">No Items yet</p>
                        <p class="opacity-60">Start adding by selecting PO</p>

                    </div>
                        
                </fieldset>

        </form>
    </div>


</div>

<div class="mt-4 flex justify-end items-center">
    <p-button 
        label="Create"
        (click)="onSubmit()" 
    />
</div>


<p-dialog 
    #purchaseOrderDialog 
    header="Purchase Order Detail" 
    [(visible)]="isPurchaseOrderVisible" 
    [modal]="true" 
    [style]="{ width: '25rem' }"
    [focusOnShow]="false"
>

        <span class="p-text-secondary block mb-5">Please click close after selecting items.</span>


        <div *ngIf="!purchaseOrder">
            No data found.
        </div>

        <div *ngIf="purchaseOrder">

            <h1 class="font-bold text-xl mb-4">
                {{ purchaseOrder.purchase_order_number || '-' }}
            </h1>

            <div *ngIf="purchaseOrder.purchase_order_item.length > 0">
                <p-table 
                    [value]="purchaseOrder.purchase_order_item" 
                    [tableStyle]="{ 'min-width': '50rem' }"
                    styleClass="p-datatable-gridlines"
                    [(selection)]="selectedIncomingRow"
                    (onRowSelect)="onSelectItem($event.data)" 
                    (onRowUnselect)="onRemoveItem($event.data)" 
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <p-tableHeaderCheckbox /> -->
                            <th style="width: 4rem"></th>
                            <th>Item</th>
                            <th>Ordered Quantity</th>
                            <th>Price</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr >
                            <td>
                                <p-tableCheckbox [value]="item" />
                            </td>

                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="h-[50px] w-[50px]">
                                        <img 
                                            [src]="imageBaseUrl + item.image_name" 
                                            alt="image"
                                            class="w-full h-full object-cover rounded-md"
                                        >
                                    </div>
                                    <div>
                                        <h1>{{ item.item_name || '-' }}</h1>
                                        <div class="space-x-1.5 opacity-60">
                                            <span>{{ item.brand_name || '-' }}</span>
                                            <span>•</span>
                                            <span>{{ item.category_name || '-' }}</span>
                                            <span>•</span>
                                            <span>{{ item.item_type_name || '-' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{ (item.ordered_quantity || 0) | number }}
                                <span>&nbsp; {{ item.uom_name || '-' }}</span>
                            </td>
                            <td>{{ (item.price || 0) | number }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>


        </div>
       
        <ng-template pTemplate="footer">
  
            <p-button 
                icon="pi pi-times"
                label="Close" 
                (onClick)="isPurchaseOrderVisible = false" 
              />
        </ng-template>
</p-dialog>